* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

section{
	height: 100vh;
	background-color: tomato;
	font-family: sans-serif;
}

.score{
	color: black;
	height: 20vh;
	display: flex;
	justify-content: space-around;

}

.score h2 {
	font-size: 34px;
}

.score p {
	text-align: center;
}

.intro{
	color: #fff;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition:opacity 0.5s ease;
}

.match{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.5s ease;
}

.winner{
	color: #fbfbfb;
	text-align:center;
	font-size: 50px;

}

.hands, .options{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.player-hand{
	transform: rotateY(180deg);
}

div.fadein{
	opacity: 1;
	pointer-events: none;

}

div.fadeout{
	opacity: 0;
	pointer-events: none;
}

@keyframes shakePlayer{
	0%{
		transform: rotateY(180deg) translateY(0px);
	}
	15%
	{
		transform: rotateY(180deg)translateY(-50%);
	}
	25%{
		transform: rotateY(180deg)translateY(0px);
	}
	35%{transform: rotateY(180deg)translateY(-50px);
	}
	50%{transform: rotateY(180deg)translateY(0px);
	}
	65%{transform: rotateY(180deg)translateY(-50px);
	}
	75%{transform: rotateY(180deg)translateYs;}
}
